*{
	font-size: 1em;
	font-family: Arial;
}

#bloc_page
{
	width: 1000px;
	margin: auto;
}

/* Header */

header
{
	background: url('images/yo.png') repeat-x bottom;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	border-left: 3px black solid;
	box-shadow: 6px 3px 3px black;
}

#titre_principal
{
	display: flex;
	flex-direction: column;
}

#logo
{
	display: flex;
	flex-direction: row;
	align-items: baseline;
}

header h1
{
	font-size: 1.5em;
	font-weight: normal;
	margin: 0 0 0 10px;
}

/* Navigation */

nav ul 
{
	list-style-type: none;
	display: flex;
}

nav li 
{
	margin-right: 15px;
}

nav a 
{
	font-size: 1em;
	color: greenyellow;
	padding-bottom: 3px;
	text-decoration: none;
}
nav a:hover
{
	color: blueviolet;
	border-bottom: 2px solid black;
}
/*Corps*/
section
{
	display: flex;
	margin-bottom: 20px;
	box-shadow: 1px 1px;
	border: 3px solid black;
}

article, aside
{
	text-align: justify;
}

article
{
	margin-left: 10px;
	padding-right: 20px;
	flex: 3;
}
article p
{
	font-size: 0.8em;
}
article h1
{
	text-decoration: underline;
}
aside
{
	flex: 1.2;
	position: relative;
	
	border-radius: 5px;
	padding: 30px;
	font-size: 0.9em;
}
div div
{
	display: flex;
	margin-bottom: 10px;
	justify-content: space-between;

	
}

div div h1
{
	display: flex;
	margin-right: 20px ;
	margin-top: 0px;
	font-size: 2em;
	text-decoration: underline;

}
div div img
{
	margin: 5px;
}
div div h3
{
	text-decoration: underline;
}

.quizz
{
	flex-direction: column;
	text-align: justify;
}


/*footer*/
footer
{
	display: flex;
	margin: auto;
	margin-top: 30px;
}

footer div, footer p 
{
	font-size: 0.8em;
}

footer ul 
{
	list-style-type: none;
	display: flex;
}
footer li
{
	margin-right: 10px;
}

@media all and (max-width: 1280px)
{
	#bloc_page
	{
		width: auto;
	}
	nav 
	{
		width: auto;
		text-align: left;
	}	
	nav ul 
	{
		flex-direction: column;
	}
	nav li 
	{
		padding-left: 4px;
	}
	nav a 
	{
		font-size: 1.1em;
	}
	nav a:hover
	{
		border-bottom: 0;
	}
	#logo
	{
		display: none;
	}
	div div
	{
		flex-direction: column;
	}
}